@import './grid.scss';
@import './colours.scss';

html,
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background: rgb(37, 95, 133);
    background: linear-gradient(135deg, rgba(37, 95, 133, 1) 0%, rgba(67, 129, 193, 1) 58%, rgba(247, 111, 142, 1) 98%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body {
    padding-bottom: $gutter-size--xlarge;
}

.hidden {
    display: none;
}

.btn {
    background: $emphasis;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 44px;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    transition: background-color .222s ease-out;
    user-select: none;
    white-space: nowrap;

    &.full-width {
        width: 100%;
    }

    &:hover {
        background: #987bab;
    }
}

.filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $gutter-size--xlarge 0 $gutter-size--medium 0;

    > label {
        color: #FFF;
        font-weight: bold;
        margin-right: $gutter-size--medium;
    }

    > select {
        height: 44px;
        min-width: 200px;
        font-size: 14px;
        background: #FFF;
        padding-left: $gutter-size--small;
    }
}

@media only screen and (max-width: 500px) {
    .filter-box {
        justify-content: flex-end;
    }
}