alembic==1.13.3
aniso8601==6.0.0
atomicwrites==1.4.1
attrs==19.3.0
blinker==1.8.2
Click==7.1.2
Flask==1.0.3
Flask-Assets==0.12
Flask-GraphQL==2.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==0.5.0
graphql-server-core==1.2.0
gunicorn==19.10.0
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.13
MarkupSafe==1.1.1
marshmallow==3.23.0
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.1
promise==2.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
py==1.8.0
pyparsing==2.4.7
pyScss==1.4.0
pytest==5.4.3
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
python-editor==1.0.4
Rx==1.6.3
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.54
wcwidth==0.2.13
webassets==0.12.1
Werkzeug==0.15.4
WTForms==2.3.3
zipp==0.6.0
