@import './scss/normalize.scss';

.view-all-link {
    display: block;
    font-size: 30px;
    color: $pop;
    text-align: center;
    font-weight: bold;
    margin-bottom: $gutter-size--xxxlarge;
}

.block-title {
    background: $emphasis;
    text-align: center;
    margin-right: 6px;
    line-height: 2;
    color: #FFF;

    &.block-right {
        background: $pop;
        margin-left: 6px;
    }
}

.remember_me {
    color: #FFF;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $emphasis;
    padding: $gutter-size--medium;
    > a {
        color: #FFF;
        font-size: 18px;
        text-decoration: none;
    }
}

form {
    padding: 0 6px;

    .form-control {
        height: 44px;
        width: 100%;
        padding: 0 6px;
        box-sizing: border-box;
        font-size: 16px;
    }
}

.error {
    margin: 0;
    padding-top: 12px;
    text-align: left;
    color: $pop;
    font-weight: bold;
}

.block-value {
    font-weight: bold;
    border-bottom: 3px solid #f76e8e;
    padding-bottom: 12px;
    margin: 0;
}

.home-title {
    font-size: 4rem;
    text-align: center;
    color: #FFF;
}

.user-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.user-subContainer {
    flex: 1;

    form {
        display: flex;
        padding: 0;
        border-bottom: 6px dotted $pop;

        .form-row {
            flex: 2;
        }

        .btn {
            flex: 1;
        }
    }
}

.user-post-container {
    background: rgba(221, 189, 213, 0.5);
    padding: $gutter-size--medium;
    box-sizing: border-box;
    margin-top: $gutter-size--large;
}

@media only screen and (max-width: 400px) {
    .home-title {
        font-size: 2rem;
    }
    .user-container {
        width: 100%;
        padding: $gutter-size--medium $gutter-size--xlarge;
        box-sizing: border-box;
    }
    .block-title {
        margin: $gutter-size--xxlarge 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .user-container {
        width: 80%;
    }
}