{% set current_url = request.endpoint %}
<html>
    <head>
        <title>Flask React</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav">
            <a href="{{ url_for('index') }}">Home</a>
            {% if "login" not in current_url and "register" not in current_url %}
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
    </body>
    <script src="/static/bundle.js"></script>
</html>