{% extends "base.html" %}

{% block content %}
    <div class="post-form-container">
        <h1 class="home-title">Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div className="form-row">
                {{ form.username.label(class_="hidden") }}
                {{ form.username(size=32, class_="form-control", placeholder="Username") }}
            </div>
            <br>
            <div className="form-row">
                {{ form.password.label(class_="hidden") }}
                {{ form.password(size=32, class_="form-control", placeholder="Password") }}
            </div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label(class_="remember_me") }}</p>
            {{ form.submit(class_="btn btn-primary full-width") }}
        </form>
    </div>
{% endblock %}
